
.services {
    position: relative;
}

.main-text {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
}

.main-text .heading {
    color: var(--main-color);
}

.main-text span {
    color: var(--font-color);
    font-weight: 200;
    text-transform: uppercase;
}

.allServices {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px , auto));
    align-items: center;
    gap: 2rem;
    z-index: 1;
}

.servicesItem {
    box-shadow: rgba(0,0,0,0.1)0px 1px 3px 0,
                rgba(0,0,0,0.6)0px 1px 2px 0px;
    padding: 2rem 1rem;
    border-radius: 10px;
    background: var(--gradient-white-bg);
    text-align: center;
}

.icon-services {
    display: inline-flex;
    position: relative;
}

.icon-services i {
    box-shadow: rgba(0,0,0,0.1)0px 1px 3px 0,
    rgba(0,0,0,0.6)0px 1px 2px 0px;
    padding: .5rem;
    border-radius: 50%;
    background: var(--gradient-color-bg);
    color: #fff;
    width: 70px;
    height: 70px;
    font-size: 2.5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
    z-index: 1;
}

.servicesItem:hover i {
    outline: 1px solid var(--main-color);
    transform: scale(1.2);
}

.icon-services span {
    position: absolute;
    width: 80px;
    height: 80px;
    left: -5px;
    top: -5px;
    background: var(--gradient-color-bg);
    border-radius: 50%;
    animation: animate 1s linear infinite;
}

.servicesItem h3 {
    margin: 1rem 0 0.5rem;
}

.servicesItem p {
    margin-bottom: 1.5rem;
    font-size:  .9rem;
    color: var(--font-color);

}

.services .readMore {
    background: var( --gradient-white-bg2);
    box-shadow: rgba(0,0,0,0.1)0px 1px 3px 0,
    rgba(0,0,0,0.6)0px 1px 2px 0px;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    color: #000;
    margin-right: .8rem;
    cursor: pointer;
}
